<div class="" ng-if="currentActivity.rand <= 0.5">
  <!-- hear  -->
  <pr-prompt say="['Select the word', currentActivity.word]"></pr-prompt>
  <ion-list>
      <ion-item class="item flashcard" 
                ng-repeat="ans in currentActivity.answers"
                ng-click="$parent.answer(ans)"
                ng-class="{incorrect: $parent.currentActivity.incorrectWords[ans.word]}"
                ng-disabled="$parent.currentActivity.incorrectWords[ans.word]">
          <h1>{{ans.word}}</h1>
      </ion-item>
  </ion-list>
</div>
<div class="" ng-if="currentActivity.rand > 0.5" >
  <!-- say  -->
  <pr-prompt say="['Say the the word you see']"></pr-prompt>
  <pr-listen expect="currentActivity.word" on-success="answer"></pr-listen>
  <ion-list>
      <ion-item class="item flashcard">
          <h1>{{currentActivity.word.word}}</h1>
      </ion-item>
  </ion-list>
</div>